[submodule "gatheringservice"]
	path = gatheringservice
	url = https://github.com/jdsinniah/gatheringservice.git
[submodule "socialservice"]
	path = socialservice
	url = https://github.com/jdsinniah/socialservice.git
[submodule "gatewayservice"]
	path = gatewayservice
	url = https://github.com/jdsinniah/gatewayservice.git
[submodule "cosbuddy-app"]
	path = cosbuddy-app
	url = https://github.com/jdsinniah/cosbuddy-app.git
[submodule "service-registry"]
	path = service-registry
	url = https://github.com/jdsinniah/service-registry.git
